@media screen and (min-width: 600px) {

    .menu-items {
            display: flex !important;
            flex-direction: row;
            justify-content: flex-end;
            background: none;
            padding: 0;
            gap: 3rem;
        }
    
        .menu-toggle {
            display: none;   }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
    }

    main {
        max-width: 1000px;
    }
}